
.mx-auto{
    width: 24%;
    background-color: white;
    padding: 50px;
    border-radius: 20px;
    margin-top: 150px;
}
.btn-primary{
    border-radius: 50px;
    background-color:sandybrown;
    width: 100%;
    border: none;
}
h1{
    text-align: center;
    color:sandybrown;
} 
.box{
    border-radius: 70px;
}
/* .login{
    width: 20%;
    margin-left: 40%;
    margin-top: 100px;
    
    background-color:darksalmon;
} */
.body{
    background-color:sandybrown;
    font-family:Arial, Helvetica, sans-serif;
}
#reg{
    margin-left: 550px;
}